
# [Directories]
# ---------------------
out/
.idea/
tests/
".idea/"
# ---------------------

# [files]
# ---------------------
*.out
*.sh
*.class
*.iml
*.txt
.DS_Store
run
vpl_execution
#----------------------




